<img src="{{image}}" class="thumbnail"/>

<h3><a href='{{link}}' target='_blank'>{{title}}</a></h3>
<p class="description">{{description}}</p>
<div class="product-meta">
  <p class="priceline">
    <strong><span class="price">{{price}}</span></strong>
    <span class="unit">{{unit}}</span>
  </p>
  <p class="last-updated">Details correct as at: {{last_updated}}</p>
</div>
