<img src="{{image}}" class="thumbnail"/>

<h3><a href='{{link}}' target='_blank'>{{title}}</a></h3>
<p class="description">{{description}}</p>
<div class="product-meta">
  <p class="priceline">
    <span class="unavailable">This wine or vintage is no longer available.</span>
  </p>
  <p class="last-updated">Details correct as at: {{last_updated}}</p>
</div>
